div#data_status {
	color: crimson;
	font-size: 120%;
}
#actbuttons .btn {
	margin: 5px;
}
div#html_tshelp {
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 15px 0px;
}
.checkbox-inline {
	margin-left: 0 !important;
}


#graphsettings {
	
}

div.div_header {
	width:100%;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	padding: 5px 10px;
	margin: 15px 0px;
	font-weight: bold;
	font-size: 1.3em;
	cursor: pointer;
}

div.div_collapsible {
	
}

#div_loadpageright div.col-sm- {
	float: none !important;
}

#quitbtn {
	font-weight: bold;
}
